.TableHead {
    display: contents;

    & > div {
        border-bottom: 2px solid black;
        margin-bottom: var(--spacer);
        padding: 0 var(--side-margin);

        // align all but first table head title to center
        &:not(:first-child) {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 720px) {
    .TableHead {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column: 1 / span 3;
        position: sticky;
        top: 0px;
        z-index: 1;
        background-color: var(--backgroundColor);

        & > * {
            margin-bottom: 0 !important;
            padding: var(--spacer) !important;
        }

        & :first-child {
            display: none;
        }

        & :nth-child(2) {
            text-align: left !important;
        }

        & :last-child {
            text-align: right !important;
        }
    }
}
