body,
html {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}

body {
    --backgroundColor: #e8e8e8;
    --altBackgroundColor: #dddddd;
    --accentColor: #01016b;

    --mainTextColor: black;
    --altTextColor: #808080;

    --maxWidth: 600px;
    --pageVerticalPadding: 130px;
    --spacer: 20px;
    --spacerMajor: 65px;
    --side-margin: 20px;

    background-color: var(--backgroundColor);
    color: var(--mainTextColor);
}

.App {
    position: relative;
    display: block;
    font-family: "Roboto";
    padding: var(--pageVerticalPadding) 0;
    min-height: 100%;
    box-sizing: border-box;

    header,
    main {
        display: block;
        margin: 0 auto;
        max-width: var(--maxWidth);
    }

    header {
        box-sizing: border-box;
        padding: 0 var(--side-margin);

        img {
            height: var(--spacerMajor);
        }
    }

    main {
        padding: 0;

        form {
            .info {
                padding: 0 var(--side-margin);
                box-sizing: border-box;
                margin: var(--spacerMajor) 0;
            }

            .table {
                display: grid;
                grid-template-columns: 1fr repeat(3, min-content);

                .tableBody,
                .tableFoot {
                    display: contents;
                }

                .tableBody {
                    & > *:nth-child(2n + 0) {
                        --row-color: var(--altBackgroundColor);
                    }
                }

                .tableFoot {
                    color: var(--altTextColor);

                    & > *:first-child > * {
                        margin-top: var(--spacerMajor);
                    }

                    & > *:last-child > * {
                        margin-top: 20px;
                        font-weight: 700;
                        color: var(--mainTextColor);
                    }
                }
            }

            .empityCard {
                grid-column: 1 / span 4;
            }

            .buttonPlacer {
                margin-top: var(--spacerMajor);
                grid-column: 1 / span 3;
                text-align: right;
                padding-right: var(--side-margin);

                button {
                    font-family: inherit;
                    background-color: var(--accentColor);
                    color: white;
                    padding: 0.3em 0.5em;
                    font-size: 25px;
                    font-weight: 700;
                    border-radius: 13px;
                    border: none;
                    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.7);
                }
            }
        }
    }

    footer {
        position: absolute;
        display: block;
        bottom: 0px;
        width: 100%;
        background-color: gray;

        .footerContent {
            display: block;
            color: white;
            padding: 0 var(--side-margin);
            box-sizing: border-box;
            margin: 0 auto;
            max-width: var(--maxWidth);
        }
    }
}

@media all and (max-width: 720px) {
    .App {
        .table {
            grid-template-columns: repeat(3, minmax(33%, 1fr)) !important;

            .empityCard {
                grid-column: 1 / span 3;
                padding: var(--side-margin);

                text-align: center;
            }
        }
    }
}
